* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: 62.5%; /* So that 1rem = 10px (10px/16px (browsers default) = 62.5% -> 1rem = 10px */
}

body{
  font-family: var(--font-primary);
  font-weight: 300;
  color: var(--color-primary);
}

.App {
  width: 100%;
  /* Background Positioning */
  height: 100vh;
  background-image: url(DM-background.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  /* Grid */
  display: grid;
  grid-template-rows: [header-start] 3rem  [header-end full-start] calc(100vh - 3rem) [full-end]; 
  grid-template-columns: [sidebar-start] 3vw [sidebar-end full-start] 97vw [full-end];
}

