.main{
    color: black;
    opacity: 1;
    grid-column: full-start / full-end;
    grid-row: full-start / full-end;

    font-family: Komoda;
    font-weight: 600;
    font-size: 17rem;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

/* Z-index is 2, so that it can stay on top when the Navigation is open */
#we-text{
    z-index: 2;
}
#are-text{
    z-index: 2;
}

/* Positioning of the two other texts in the Grid */
#about-text{
    grid-column: 1 / -1;
}

#experiences-text{
    grid-column: 1/-1;
}

/* LETTER POSITIONING */
.main-we,
.main-are,
.main-line,
.main-about,
.main-experiences{
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-left: 4rem;
    margin-right: 4rem;
    padding: 2rem;
    transition: opacity 1s cubic-bezier(0,0,0,1);
}

.main-line{
    display: block;
    height: 1px;
    border: 0;
    border-top: 0.5rem solid black;
    padding-bottom: 0;

    display: flex;
    align-self: center;
    z-index: 2;
}

.main-line__text{
    color: white;
    font-family: "sans-serif";
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: .2rem;
    transform: translateY(-6rem);
}

/* BOXES COVERING TEXT */
.main-we::after,
.main-are::after,
.main-about::after,
.main-experiences::after{
    content: "";
    position: absolute;
    bottom: 3rem;
    left: 0;
    height: 60%;
    width: 100%;
    background-color: black;
    transition: all 1s cubic-bezier(0,0,0,1);
}

/* CSS to hide the box  */
.hidden::after{
    opacity: 0;
    height: 0;
}

/* Box Animation */
.main-we:hover::after,
.main-are:hover::after,
.main-about:hover::after,
.main-experiences:hover::after{
    height: 0%;
}



/* Text Scale Animation */
.main-we span,
.main-line,
.main-are span,
.main-about span,
.main-experiences span{
    transition: all 1s cubic-bezier(0,0,0,1);
}

/* Hover effect */
.main-we:hover span,
.main-are:hover span,
.main-about:hover span,
.main-experiences:hover span{
    transform: scale(1.1);
}